body {
  box-sizing:border-box;
  margin:0;
  padding:0;
  /*background-image: url("./components/emotion.png");
  background-repeat: no-repeat;*/
}

.container { 
  height: 500px;
  position: relative;
  
}


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emo-result{
  margin-top: 25px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.detection-btn{
  display: inline-block;
  background-color: #6C63FF;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  width: 75%;
}

#main-navbar {
  font: 1.15em;
  height: 50px;
  background: #6C63FF;
}

#main-navbar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#main-navbar li {
  display: inline-block;
  padding: 10px 20px;
}

#main-navbar li a {
  text-decoration: none;
  color: #fff;
  margin-top: 7px;
  margin-bottom: 7px;
}
#main-navbar img{
  width: 14px;
  margin-left: 18px;
  margin-right: -8px;
  height: auto;
  background: none;

}
#main-navbar li a:hover {
  padding-bottom: 3px;
  color: #222;
}


.loading-button-container {
  margin-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
}

.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-button.spinning .loader {
  display: block;
}

.loading-button.spinning span {
  display: none;
}

.loading-button:hover {
  background-color: #0056b3;
}
